body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    
    font-size: 40px;
}
.font-color{
    color: forestgreen;
}
.flexible-container{
    display: flex;
    margin-bottom: 160px;
    
}
.half-width{
    width: 50%;
    padding-left:3%;
}
.half-width img{
   width: 85%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(gold, tomato);
    padding: 10px 40px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.big-dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    box-shadow: 10px 10px 50px black;
    width: 50%;
    margin-left: 60px;
    padding-left: 35px;
    border-radius: 12px;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(purple,gold);
    border-image-slice: 1;
}
#baby-web-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
